.ui-site-right {
	float: right;
	display: inline;
	padding: 3px 3px 3px 3px;
}

.ui-site-left {
	float: left;
	display: inline;
	padding: 3px 3px 3px 3px;
}

.ui-site-center {
	float: center;
	display: inline;
	padding: 3px 3px 3px 3px;
}

.ui-dialog-noclose .ui-dialog-titlebar-close {
	display: none;
}

.ui-hidden {
	display: none;
}