
	<div class="uk-panel" th:fragment="product(product)">
	
		<div class="uk-panel-badge uk-badge">Sale</div>
		<h3 class="uk-panel-title" th:text="${product.title}"></h3>
		<div class="uk-grid">

			<div class="uk-width-2-5 uk-slidenav-position">
			    <img th:attr="src=@{${product.pictures[0].path+product.pictures[0].name}}" alt=""></img>
			    <a href="" class="uk-slidenav uk-slidenav-previous"></a>
			    <a href="" class="uk-slidenav uk-slidenav-next"></a>
			</div>
			
			<div class="uk-width-1-5">
				<div>
				Price:
					<span th:text="${product.price}"></span>
					<span th:text="${product.actualPrice}"></span>
				</div>
				<div>
					<span th:text="'Size: ' + ${product.sizes}"></span>
				</div>
				<div>
					<span th:text="'Color: ' + ${product.colors}"></span>	
				</div>	
			</div>
			
			<div class="uk-width-2-5" th:attr="id=${'product_'+product.id}"></div>
			
			<script th:inline="javascript">
			/*<![CDATA[*/
			$("#product_[[${product.id}]]").html([[${product.description}]]);       
			/*]]>*/	
			</script>
		</div>
	</div>
	