<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="/layout">
	<head>
		<title>Administration</title>
	</head>
	
	<body>
	
	<section layout:fragment="content">
	
		<div id="growlmessages"></div>
		<script th:inline="javascript">/*<![CDATA[*/$("#growlmessages").puigrowl();/*]]>*/</script>
		
		<p-tabview sec:authorize="hasRole('ROLE_ADMIN')">
		
			<p-tab title="Categories">
				<div th:include="administration/category :: #categories"></div> 
			</p-tab>
			
			<p-tab title="Fees">
				<div></div>
			</p-tab>
			
			<p-tab title="Products">
<!-- 				<div th:include="administration/product :: #products"></div> -->
			</p-tab>
			
			<p-tab title="Order">
				<div></div>
			</p-tab>
			
		</p-tabview>
		
	
	</section>	
	
	</body>
			
</html>
