<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

      
	<body>
		
		<div th:fragment="header">
			
			<div id="mainToolBar" style="padding: 4px; display: block;" class="ui-widget-header ui-corner-all">
				<a href="/home">Home</a>
				<a href="/trackorder">Track Your Order</a>
				<a href="/about">About Us</a>
				<a sec:authorize="hasRole('ROLE_ADMIN')" href="/administration">Administration</a>
				<a sec:authorize="hasRole('ROLE_ADMIN')" href="/adminlogout">Logout</a>
			</div>

			<script type="text/javascript">
			/*<![CDATA[*/
			$("#mainToolBar > a").button();
			/*]]>*/
			</script>
			
		</div>
	
	</body>            
</html>     
