<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

      
	<body>
		
		<div th:fragment="header">
			
			<ul id="mainMenuBar">
				<li><a th:href="@{/home}">Home</a></li>
				<li>|</li>
				<li><a th:href="@{/trackorder}">Track Your Order</a></li>
				<li>|</li>
				<li><a th:href="@{/about}">About Us</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')">|</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/administration}" >Administration</a> </li>
				<li sec:authorize="hasRole('ROLE_ADMIN')">|</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/adminlogout}" >Logout</a> </li>

			</ul>

		<script th:inline="javascript"> 
		/*<![CDATA[*/
		
			var mainMenuBar = $('#mainMenuBar').puimenubar();
		
		/*]]>*/	
		</script>	
		</div>
	
	</body>            
</html>     
