<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

      
	<body>
		
		<div th:fragment="header">
			
			<ul id="mainMenuBar">
				<li><a th:href="@{/home}">Home</a></li>
				<li><a th:href="@{/trackorder}">Track Your Order</a></li>
				<li><a th:href="@{/about}">About Us</a></li>
				
				<li><div th:text="${#authentication.name}"> aaa <a th:href="@{/adminlogout}" >Logout</a></div> </li>

			</ul>

		</div>

	</body>            
</html>     
