<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Alev E-Commerce</title>
		
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
   	
   	<link rel="stylesheet" th:href="@{/css/font-awesome.css}" />
   	<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
   	<link rel="stylesheet" th:href="@{/css/jquery-ui.structure.css}" />
   	<link rel="stylesheet" th:href="@{/css/theme.css}" />
   	
   	<script type="text/javascript" th:attr="src=@{/js/jquery-2.1.4.js}"></script>
   	<script type="text/javascript" th:attr="src=@{/js/jquery-ui.js}"></script>

		<script type="text/javascript" th:attr="src=@{/js/site/common.js}"></script>
			
	</head>
	
	<body>
	
		<header>
			<div th:include="header :: header"></div>
		</header>
		
		<section layout:fragment="content">
		
		</section>
		
		<footer>
			<div th:include="footer :: footer"></div>
		</footer>
		
	</body>
	
</html>
