<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Alev E-Commerce</title>
		
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
   	
<!--    	<link rel="stylesheet" th:href="@{/css/font-awesome.css}" /> -->
   	<link rel="stylesheet" th:href="@{/css/jquery-ui.structure.css}" />
   	<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
   	<link rel="stylesheet" th:href="@{/css/theme.css}" />
   	<link rel="stylesheet" th:href="@{/css/growl.css}" />
   	
   	<link rel="stylesheet" th:href="@{/css/uikit.css}" />
<!--    	<link rel="stylesheet" th:href="@{/css/site/theme.css}" /> -->
   	
   	<script type="text/javascript" th:attr="src=@{/js/jquery-2.1.4.js}"></script>
   	<script type="text/javascript" th:attr="src=@{/js/jquery-ui.js}"></script>
   	<script type="text/javascript" th:attr="src=@{/js/jquery.dataTables.js}"></script>

		<script type="text/javascript" th:attr="src=@{/js/tinymce/tinymce.min.js}"></script>
	
		<script type="text/javascript" th:attr="src=@{/js/growl.js}"></script>
	
		<script type="text/javascript" th:attr="src=@{/js/uikit.js}"></script>		
		<script type="text/javascript" th:attr="src=@{/js/site/common.js}"></script>
		
	</head>
	
	<body>
		<div id="growlmessages"></div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			var growlMessages = $("#growlmessages").puigrowl();
		/*]]>*/	
		</script>
				
		<header>
			<div class="uk-panel uk-panel-box uk-panel-divider" th:include="header :: header"></div>
		</header>
		
		<div class="uk-panel uk-panel-box uk-panel-divider">
			<section layout:fragment="topcontent">
			
			</section>
		</div>
		
		<div class="uk-panel">
			<div class="uk-grid uk-grid-divider">
				<div class="uk-width-2-10">
					<section layout:fragment="leftcontent"></section>
				</div>
			
				<div class="uk-width-7-10">
					<section layout:fragment="content"></section>
				</div>
				
				<div class="uk-width-1-10">
					<section layout:fragment="rightcontent"></section>
				</div>
			
			</div>
		</div>
		
		<footer>
			<div class="uk-panel uk-panel-box uk-position-bottom" th:include="footer :: footer"></div>
		</footer>

	</body>
	
</html>
