<html xmlns:th="http://www.thymeleaf.org">
	
	<body>
	
		<div id="categories" >
			<div class="pui-grid pui-grid-responsive">
				<div class="pui-grid-row">
					<div class="pui-grid-col-2">
						<select id="categoryList"></select>
					</div>
					<div class="pui-grid-col-1">
					</div>
					<div class="pui-grid-col-1">
						<button id="categoryUpdate">Update</button>
					</div>
					<div class="pui-grid-col-1">
						<button id="categoryDelete">Delete</button>
					</div>
					<div class="pui-grid-col-1">
						<button id="categoryAdd">Add</button>
					</div>
					
				</div>
				
			</div>
				
			<script type="text/javascript" th:attr="src=@{/js/alevecommerce-category.js}"></script>
			
		</div>
	
	</body>
		
</html>
