<script type="text/javascript" th:attr="src=@{/js/site/category.js}"></script>
<style type="text/css">
#categoryList {width:200px;}
</style>

<div class="uk-panel" >
	<div class="uk-panel-title">Product Categories</div>
	
	<div class="uk-panel-box uk-flex uk-form">
		<div class="uk-panel-box">
		<select width="200" id="categoryList">
			<option th:each="category : ${categories}"
				th:text="${category.categoryName}"
				th:attr="value=${category.id}" >
			</option>				
		</select>
		</div>
		<div class="uk-panel-box">
			<button class="uk-button uk-icon-edit uk-button-primary" onclick="onCategoryButtonsClick('update')">&nbsp;Update</button>
		</div>
		<div class="uk-panel-box">
			<button class="uk-button uk-icon-remove uk-button-primary" onclick="onCategoryButtonsClick('delete')">&nbsp;Delete</button>
		</div>
		<div class="uk-panel-box">
			<button class="uk-button uk-icon-plus uk-button-primary" onclick="onCategoryButtonsClick('add')">&nbsp;Add</button>	
		</div>
			
	</div>
	
</div>
