		<script type="text/javascript" th:attr="src=@{/js/site/category.js}"></script>

		<div id="categories" >
			<table>
			<tr>
				<td>
					<select id="categoryList">
						<option th:each="category : ${categories}"
							th:text="${category.categoryName}"
							th:attr="value=${category.id}" >
						</option>				
					</select>
				</td>
				<td><button id="categoryUpdate">Update</button></td>
				<td><button id="categoryDelete">Delete</button></td>
				<td><button id="categoryAdd">Add</button></td>
			</tr>
			</table>
		</div>
	
		<div id="categoryDialog" title="Category">
			<label>Category Name: </label>
			<input id="selectedCategory" type="text" class="ui-widget ui-corner-all"/>
		</div>
	
		<script th:inline="javascript">
		/*<![CDATA[*/
		   $("button").button()
		   	.click(onCategoryButtonsClick);  

			$("#categoryList").selectmenu({width: 200});

			detachCategoryDialog();

			categoryDialog = $("#categoryDialog").dialog({
				modal: true,
				autoOpen: false,
				buttons: [
				{ text: "Cancel", click: function() { dialogClose(this); } },
				{ text: "Ok" }
				]
			});
						
		/*]]>*/	
		</script>	