<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="/layout">
	<head>
		<title>Administration</title>
	</head>
	
	<body>

	<section layout:fragment="leftcontent">
	
		<div id="adminTaskTab" class="uk-panel uk-panel-box" sec:authorize="hasRole('ROLE_ADMIN')">
			<ul class="uk-nav uk-nav-side">
				<li class="uk-active"><a href="javascript:onAdminNavChange('/adminorder')">Orders</a></li>
				<li><a href="javascript:onAdminNavChange('/admincategory')">Categories</a></li>
				<li><a href="javascript:onAdminNavChange('/adminfee')">Fees</a></li>
				<li><a href="javascript:onAdminNavChange('/adminproduct')">Products</a></li>
			</ul>	
		</div>

	
	</section>	

	<section layout:fragment="content">
		
		<div id="adminTaskContent"></div>
		
	</section>	

	</body>
			
</html>
