<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="/layout">
	<head>
		<title>Administration</title>
	</head>
	
	<body>
	
	<section layout:fragment="content">
		
		<div id="adminTaskTab" sec:authorize="hasRole('ROLE_ADMIN')">
			<ul>
				
				<li><a href="#adminTask_order">Orders</a></li>
				<li><a href="/admincategory">Categories</a></li>
				<li><a href="/adminfee">Fees</a></li>
				<li><a href="/adminproduct">Products</a></li>
				
			</ul>	
			
			<div id="adminTask_order" >
			waiting orders ...
			</div>
			
		</div>
		
		<div id="confirmDialog">
			<label></label>
			<p>Are you sure?</p>
		</div>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
		var adminTaskTabs = $("#adminTaskTab").tabs();
	
		var confirmDialog = $("#confirmDialog").dialog({
			modal: true,
			autoOpen: false,
			buttons: [
			{ text: "No", click: function() { dialogClose(this); } },
			{ text: "Yes" }
			]
		});
			
		/*]]>*/	
		</script>
	
	</section>	
	
	</body>
			
</html>
