<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="/layout">
	
	<head>
		<title>Administration - Login</title>
	</head>
	
    <body>
    
    <section layout:fragment="content">
      
      <form class="uk-form uk-form-stacked" th:action="@{/adminlogin}" method="post">
		<fieldset data-uk-margin="">
			<h4 class="uk-text-danger uk-heading-large">Site administration,</h4>
			<div class="uk-form-row">
				<label class="uk-form-label">User Name</label> 
				<div class="uk-form-controls"><input type="text" id="username" name="username"/></div> 
			</div>
			
			<div class="uk-form-row">
				<label class="uk-form-label">Password</label>
				<div class="uk-form-controls"><input type="password" id="password" name="password"/></div>
			</div>
			
			<div class="uk-form-row">
				<div class="uk-form-controls"><input class="uk-button" type="submit" value="Sign In"/></div>
			</div>
			
		</fieldset>
		    
		</form>

	   <script th:inline="javascript">
		/*<![CDATA[*/
		
		if("[[${param.error}]]" != "null") 
			$("#growlmessages").puigrowl("show", [{ severity: "error", summary: "Login Error", detail: "Invalid username and password."}]);
		
		if([[${loggedout}]]) 
			$("#growlmessages").puigrowl("show", [{ severity: "info", summary: "Logged out", detail: "You have been logged out."}]);
	
		/*]]>*/	
		</script>	
    
	</section>
	</body>
    
</html>
