<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="/layout">
	
	<head>
		<title>Administration - Login</title>
	</head>
	
    <body>
    
    <section layout:fragment="content">
      
      <form th:action="@{/adminlogin}" method="post">
		<fieldset id="loginFieldset">
			
			<div><h4>User Name</h4> <input type="text" id="username" name="username"/> </div>
			<div><h4>Password</h4><input type="password" id="password" name="password"/> </div>
			<div><h4></h4><input type="submit" value="Sign In"/></div>
			
		</fieldset>
		    
		</form>

	   <script th:inline="javascript">
		/*<![CDATA[*/
		
		$("input").addClass("ui-widget ui-corner-all");
		$("input[type=submit]").button();
		
		if("[[${param.error}]]" != "null") 
			$("#growlmessages").puigrowl("show", [{ severity: "error", summary: "Login Error", detail: "Invalid username and password."}]);
		
		if([[${loggedout}]]) 
			$("#growlmessages").puigrowl("show", [{ severity: "info", summary: "Logged out", detail: "You have been logged out."}]);
	
		/*]]>*/	
		</script>	
    
	</section>
	</body>
    
</html>
