	<script type="text/javascript" th:attr="src=@{/js/site/product.js}"></script>

	<table id="productTable" class="display compact">
		<thead>
			<tr>
				<th>Category</th>
				<th>Name</th>
				<th>Title</th>
				<th>Price</th>
				<th>Actual Price</th>
				<th> <a class="ui-button ui-icon ui-icon-plus" href="javascript:void(0)" onclick="addProduct();" title="Add new product"></a> </th>
				
			</tr>
		</thead>
		
		<tbody></tbody>
	</table>

	<div th:include="administration/productdialog"></div>			
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	var productTable = $("#productTable").DataTable({
		processing: true,
		jQueryUI: true,
		scrollY: 400, 
		ajax: getProducts,
		columns: [
			{data: "category.categoryName"},
			{data: "name"},
			{data: "title"},
			{data: "price", className: "dt-body-right", orderable: false, searchable: false},
			{data: "actualPrice", className: "dt-body-right", orderable: false, searchable: false},
			{data: null, render: productRowProcess, className: "dt-body-center", orderable: false, searchable: false}
			
		]
	});
	
	/*]]>*/	
	</script>		
