	<script type="text/javascript" th:attr="src=@{/js/site/picture.js}"></script>
	<script type="text/javascript" th:attr="src=@{/js/tinymce/tinymce.min.js}"></script>

	<div id="productDialog" title="Product">
	<form id="productForm" action="/adminproduct" enctype="multipart/form-data" method="post">
		<input type="hidden" id="productId" />
		<table>
			<tr>
				<td>
					<label for="name">Name</label>
				</td>
				<td>
					<input id="name" type="text"/>
				</td>
				<td>
					<label>Title</label>
				</td>
				<td>
					<input id="title" type="text"/>
				</td>
			</tr>

			<tr>
				<td>
					<label>Price</label>
				</td>
				<td>
					<input id="price" type="number"/>
				</td>
				<td>
					<label>Actual Price</label>
				</td>
				<td>
					<input id="actualPrice" type="number"/>
				</td>
			</tr>


			<tr>
				<td>
					<label for="sizes">Sizes</label>
				</td>
				<td>
					<input type="text" id="sizes" />

				</td>
				<td>
					<label for="colors">Colors</label>
				</td>
				<td>
					<input id="colors" type="text"/>
				</td>
			</tr>

			<tr>
				<td>
					<label>Description</label>
				</td>
				<td colspan="3">
					<textarea id="description"></textarea>
				</td>
			</tr>

			<tr>
				<td colspan="4" id="pictures">
				</td>
				
			</tr>
		</table>
	</form>		
	</div>
		
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	var pictureTable = null;
	
	$("input")
   	.addClass("ui-widget ui-corner-all");
	
	tinymce.init({
		selector: "textarea",
		menubar: false	
	});
	
	detachProductDialog();
	
	var productDialog = $("#productDialog").dialog({
	   modal: true,
		width: 800,
	   autoOpen: false,
	   open: getPictures,
	   close: destroyPictures,
		buttons: [
			{ text: "Cancel", click: function() { dialogClose(this); } },
			{ text: "Ok" }
		]
   });
	
	/*]]>*/	
	</script>		
