	<script type="text/javascript" th:attr="src=@{/js/site/picture.js}"></script>
	
	<div class="ui-hidden">
	<div id="productDialog" title="Product">
	<form id="productForm" action="/adminproduct" enctype="multipart/form-data" method="post" onsubmit="return validateProductForm();">
		<input type="hidden" name="_csrf" th:attr="value=${_csrf.token}"/>
		<input type="hidden" id="productId" name="productId" />
		
		<table class="display compact dataTable">
			<tr>
				<td>
					<label for="category">Category</label>
				</td>
				<td colspan="3">
					<input id="categoryName" name="categoryName" type="text"/>
					<div id="categoryName-div"></div>
					<input id="categoryId" name="categoryId" type="hidden"/>
				</td>
			</tr>
			
			<tr>
				<td>
					<label for="name">Name</label>
				</td>
				<td>
					<input id="name" name="name" type="text"/>
				</td>
				<td>
					<label>Title</label>
				</td>
				<td>
					<input id="title" name="title" type="text"/>
				</td>
			</tr>

			<tr>
				<td>
					<label>Price</label>
				</td>
				<td>
					<input id="price" name="price" type="number"/>
				</td>
				<td>
					<label>Actual Price</label>
				</td>
				<td>
					<input id="actualPrice" name="actualPrice" type="number"/>
				</td>
			</tr>


			<tr>
				<td>
					<label for="sizes">Sizes</label>
				</td>
				<td>
					<input type="text" name="sizes" id="sizes" />
					<div id="sizes-div"></div>
				</td>
				<td>
					<label for="colors">Colors</label>
				</td>
				<td>
					<input id="colors" name="colors" type="text"/>
					<div id="colors-div"></div>
				</td>
			</tr>

			<tr>
				<td>
					<label>Description</label>
				</td>
				<td colspan="3">
					<textarea id="description" name="description"></textarea>
				</td>
			</tr>

			<tr>
				<td colspan="4" id="pictures">
				</td>
				
			</tr>
		</table>
	</form>		
	</div>
	</div>
		
	<script th:inline="javascript">
	/*<![CDATA[*/
	var categoryObjects = [];        
	
	$("input")
   	.addClass("ui-widget ui-corner-all");
	
	$("#sizes").autocomplete({appendTo: "#sizes-div", delay: 500, autoFocus: true, source: getSizeSource, select: onMultipleSelect});
	$("#colors").autocomplete({appendTo: "#colors-div", delay: 500, autoFocus: true, source: getColorSource, select: onMultipleSelect});
	
	getCategories(function(categories) {
		categories.forEach(function(category) { 
			categoryObjects.push({label: category.categoryName, value:category.id}); 
			});
		
		$("#categoryName").autocomplete({
			appendTo: "#categoryName-div", 
			delay: 500, 
			autoFocus: true, 
			source: categoryObjects, 
			select: onCategorySelect 
		});
	});
	
	detachProductDialog();
		
	var productDialog = $("#productDialog").dialog({
	   modal: true,
		width: 800,
	   autoOpen: false,
	   closeOnEscape: false,
	   dialogClass: "ui-dialog-noclose",
	   open: getPictures,
	   close: destroyPictures,
		buttons: [
			{ text: "Cancel", click: function() { dialogClose(this); } },
			{ text: "Ok", click: function() { $("#productForm").submit(); } }
		]
   });
	
	/*]]>*/	
	</script>		
